body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

#message {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

